:root {
    --offwhite: #ddd;
    --dark: #121212;
    --accent: #b51212;
    --lin-grad-1: #bb1500, #d42368, #be60b7, #8c90e2, #6cb2e7;
    --nav-height: 4rem;
    --page-height: calc(100vh - var(--nav-height));
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    margin: 0;
    background-color: #e5e5e5;
    font-family: 'Inter', sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
}

#svelte {
    display: flow-root;
}

.blur {
    transition: filter 0.3s ease-in-out;
    filter: blur(5px);
}

.knockout {
    background: linear-gradient(to top right, var(--lin-grad-1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat Alternates', sans-serif;
}

hr {
    color: #67676732;
    background-color: #67676732;
    border-bottom: none;
    width: 90%;
    margin: 3% auto;
}

.caret {
    height: 0.85em;
    display: inline-block;
    -webkit-text-fill-color: #232323;
    animation: blink 1.25s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input,
select,
textarea {
    color: black;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: black;
}