:root {
    --offwhite: #c6c6c6;
    --dark: #121212;
    --accent: #b51212;
    --lin-grad-1: #bb1500, #d42368, #be60b7, #8c90e2, #6cb2e7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    margin: 0;
}

*,
 ::before,
 ::after {
    box-sizing: border-box;
}

#svelte {
    display: flow-root;
}

em {
    font-family: 'Montserrat Alternates', sans-serif;
}